.notification {
    position: fixed;
    bottom: 20px;
    right: 20px;

    min-width: 280px;
    max-width: 460px;

    display: flex;
    align-items: center;
    gap: 12px;

    transform: translateX(120%);
    opacity: 0;

    background: var(--bg);
    padding: 1rem 1.4rem;
    border-radius: 5px;

    color: #f8f8f8;
    font-family: 'Orbitron', sans-serif;
    font-weight: 600;
    font-size: 0.9rem;
    letter-spacing: 0.5px;

    border: 1px solid rgba(255, 255, 255, 0.719);
    border-left: 5px solid #22c55e;

    animation:
        slideIn 0.55s cubic-bezier(0.22, 1, 0.36, 1) forwards,
        slideOut 0.5s ease-in forwards 4.8s;

    z-index: 9999;
}

/* Ponto piscando */
.notification-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #22c55e;
    box-shadow: 0 0 6px rgba(34, 197, 94, 0.8);

    animation: blink 1.2s infinite ease-in-out;
    flex-shrink: 0;
}

/* Texto */
.notification-text {
    line-height: 1.4;
}

/* Animação do ponto */
@keyframes blink {

    0%,
    100% {
        opacity: 1;
        transform: scale(1);
    }

    50% {
        opacity: 0.3;
        transform: scale(0.6);
    }
}


/* Animação de entrada */
@keyframes slideIn {
    from {
        transform: translateX(120%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Animação de saída */
@keyframes slideOut {
    to {
        transform: translateX(20px);
        opacity: 0;
    }
}