.notification {
    position: fixed;
    bottom: 20px;
    right: 20px;

    transform: translateX(120%);
    opacity: 0;

    background: linear-gradient(45deg, #7f5af0, #a855f7);
    padding: 1rem 1.5rem;
    border-radius: 8px;
    color: snow;
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    text-shadow: 0 0 5px #a855f7, 0 0 10px #7f5af0;
    box-shadow: 0 0 10px #7f5af0, 0 0 20px #a855f7;

    animation: slideIn 0.6s cubic-bezier(0.22, 1, 0.36, 1) forwards, slideOut 5s ease-in forwards;
    z-index: 999;
}


@keyframes slideIn {
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOut {
    to {
        opacity: 0;
    }
}