@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500;600;700&display=swap');

.user-rank {
    margin-top: 6px;
    font-weight: bold;
}

/* 🟨 RANK S – LENDÁRIO */
.rank-S {
    color: gold;
}

.xp-fill.rank-S {
    background-color: gold;
}

.xp-S {
    color: gold;
    font-weight: bolder;
}

/* 🔴 RANK A – ELITE */
.rank-A {
    color: red;
}

.xp-fill.rank-A {
    background-color: red;
}

.xp-A {
    color: red;
    font-weight: bolder;
}

/* 🔵 RANK B – RARO */
.rank-B {
    color: cyan;
}

.xp-fill.rank-B {
    background-color: cyan;
}

.xp-B {
    color: cyan;
    font-weight: bolder;
}

/* 🟢 RANK C – COMBATENTE */
.rank-C {
    color: rgb(54, 206, 54);
}

.xp-fill.rank-C {
    background-color: rgb(54, 206, 54);
}

.xp-C {
    color: rgb(54, 206, 54);
    font-weight: bolder;
}

/* 🟠 RANK D – INICIANTE */
.rank-D {
    color: orange;
}

.xp-fill.rank-D {
    background-color: orange;
}

.xp-D {
    color: orange;
    font-weight: bolder;
}

/* ⚪ RANK E – BÁSICO */
.rank-E {
    color: #b0bec5;
}

.xp-fill.rank-E {
    background-color: #b0bec5;
}

.xp-E {
    color: #b0bec5;
    font-weight: bolder;
}

.rank-S,
.rank-A,
.rank-B,
.rank-C,
.rank-D,
.rank-E {
    font-weight: 900;
    letter-spacing: 0.6px;
}

.rank-S,
.rank-A,
.rank-B,
.rank-C,
.rank-D,
.rank-E,
.missao-xp,
h1,
h2 {
    font-family: 'Teko', sans-serif;
}