/* Container só para o botão inicial */
.start-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.main-container {
    max-width: 500px;
    width: 100%;
    margin: 2rem auto;
    padding: 2rem;
    background-color: var(--bg-card);
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}


.start-button {
    position: relative;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.3rem;
    font-weight: bold;
    font-family: 'Orbitron', sans-serif;
    color: #fff;
    background: linear-gradient(45deg, #7f5af0, #a855f7);
    border: none;
    border-radius: 12px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    overflow: hidden;
    box-shadow: 0 0 15px #7f5af0, 0 0 25px #a855f7, 0 0 50px #7f5af0;
    transition: all 0.3s ease;
    animation: neonPulse 1.5s infinite alternate;
}

/* Luz pulsante */
@keyframes neonPulse {
    0% {
        box-shadow: 0 0 10px #7f5af0, 0 0 20px #a855f7, 0 0 40px #7f5af0;
    }

    100% {
        box-shadow: 0 0 20px #7f5af0, 0 0 40px #a855f7, 0 0 60px #7f5af0;
    }
}

.start-button::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.3) 0%, transparent 70%);
    transform: rotate(45deg);
    transition: all 0.5s ease;
    pointer-events: none;
}

.start-button:hover {
    transform: scale(1.08) rotate(-1deg);
    background: linear-gradient(45deg, #a855f7, #7f5af0);
}

.start-button:hover::before {
    top: -30%;
    left: -30%;
}