.top15-container {
    min-height: 80vh;
    margin: 40px auto;
    padding: 20px;
    background: linear-gradient(180deg,
            rgba(255, 255, 255, 0.04),
            rgba(255, 255, 255, 0.01));
    border: 1px solid var(--purple-glow);
    border-radius: 50px;
    box-shadow: 20px 15px 25px black;
    color: #fff;
    font-family: 'Segoe UI', sans-serif;
}

.top15-container h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
    color: snow;
}

.top15-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.top15-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    transition: background 0.3s;
    border-radius: 10px;
    cursor: pointer;
}

/* Hover */
.top15-item:hover {
    background: rgba(255, 255, 255, 0.05);
}

/* Esquerda: Número + Medalha + Avatar + Nome */
.top15-left {
    display: flex;
    align-items: center;
    align-content: center;
    gap: 10px;
    min-width: 300px;
}

/* Número da posição */
.top15-position {
    font-weight: bold;
    font-size: 20px;
    width: 30px;
    text-align: center;
    flex-shrink: 0;
}

/* Medalha */
.top15-item .medal {
    width: 30px;
    height: 30px;
    flex-shrink: 0;
}

/* Avatar */
.top15-item img.avatar,
.top15-item img.avatarvip {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
}

/* Nome */
.top15-item .name {
    font-weight: 500;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Rank e Nível */
.top15-right {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 15px;
    min-width: 180px;
}

.rank-info {
    display: flex;
    gap: 5px;
    font-weight: bold;
}

/* XP */
.xp {
    font-weight: bold;
    font-size: 16px;
    color: #00ffea;
}

.usernamevip {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.Logovip {
    width: 40px;
}

.avatar-wrappertop15 {
    position: relative;
    display: inline-block;
}

.vip-badgetop15 {
    position: absolute;
    bottom: 25px;
    right: -10px;
    width: 28px;
}

@media (max-width: 900px) {
    .Logovip {
        width: 35px;
    }

    .top15-container {
        margin: 0;
        padding: 0;
        box-shadow: none;
        border-radius: 20px;
    }

    .top15-container h2 {
        margin-top: 20px;
    }

    .top15-item {
        width: 100%;
        flex-direction: column;
    }

    .top15-left {
        gap: 20px;
        padding-bottom: 20px;
    }

    .top15-left .name {
        font-size: 12px;
    }

    .top15-right {
        gap: 8px;
        font-size: 12px;
    }

    .xp {
        font-size: 12px;
    }

    .medal {
        width: 24px;
        height: 24px;
    }

    .avatar,
    .avatarvip {
        width: 40px;
        height: 40px;
    }
}