.user-sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
    height: 100vh;
    background: linear-gradient(to bottom,
            #080808 5%,
            #2b2b2b 20%,
            #4a4a4a 45%,
            #4a4a4a 45%,
            #4a4a4a 45%,
            #3a3a3a 70%,
            #0d0d0d 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    animation: Boxshadow 5s ease infinite;
}

@keyframes Boxshadow {
    0% {
        border-right: 2px solid #7f5af0;
        box-shadow: 2px 0 10px #7f5af0;
    }

    50% {
        border-right: 2px solid #22c55e;
        box-shadow: 2px 0 10px #22c55e;
    }

    100% {
        border-right: 2px solid #7f5af0;
        box-shadow: 2px 0 10px #7f5af0;
    }
}

@keyframes borders {
    0% {
        border: 3px solid #7f5af0;
    }

    50% {
        border: 3px solid #22c55e;
    }

    100% {
        border: 3px solid #7f5af0;
    }
}

.user-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    animation: Boxshadow 5s ease infinite, borders 5s ease infinite;
    object-fit: cover;
}

.welcome-name {
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    color: #22c55e;
    text-shadow: 0 0 20px #22c55e;
}

.user-name {
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    color: #7f5af0;
    text-shadow: 0 0 20px #7f5af0;
}

.logout-btn {
    position: relative;
    background: #7f5af0;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 0 10px #7f5af0;
    transition: all 0.3s ease;
}

.logout-btn:hover {
    color: black;
    font-weight: bold;
    background: #22c55e;
    box-shadow: 0 0 20px #22c55e;
}