.week {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
    margin-top: 20px;
}

.day {
    flex: 1 1 200px;
    border: 2px solid #7f5af0;
    border-radius: 5px;
    padding: 10px;
    min-width: 200px;
    background-color: #1e1e1e;
    color: #fff;
    transition: border-color 0.3s;
}

.day-complete {
    border-color: #00ff00;
}

.day h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1.2rem;
    text-align: center;
}

.day p {
    font-size: 0.9rem;
    color: #aaa;
    text-align: center;
}