@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500;700&family=Inter&display=swap');
@import url('css/usersidebar.css');
@import url('css/login.css');
@import url('css/notification.css');
@import url('css/ranks.css');
@import url('css/start.css');
@import url('css/taskform.css');
@import url('css/taskitems.css');
@import url('css/usersidebar.css');
@import url('css/weeklyplanner.css');
@import url('css/top15.css');

::-webkit-scrollbar {
    background: linear-gradient(to top, black, rgb(85, 85, 85), black);
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(280deg, #7f5af0, #11162a);
    border-radius: 50px;
}

.menu-toggle {
    display: none;
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* VARIÁVEIS DE COR */
:root {
    --bg-main: #0b0f1a;
    --bg-card: #11162a;
    --purple: #7f5af0;
    --text: #eaeaea;
    --success: #22c55e;
    --red: #ff0000;
}

/* BODY */
body {
    font-family: 'Inter', sans-serif;
    background-image:
        linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.9)),
        url(assets/img/wallpaper.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--text);
    display: flex;
    justify-content: center;
    min-height: 100vh;
    padding: 2rem 0;
    overflow-x: hidden;
}

.logo {
    width: 350px;
    filter: drop-shadow(2px 2px 5px var(--purple));
}

.container {
    min-width: 100vw;
}

.container-conteudo {
    margin-left: 250px;
    padding: 20px;
}

/* APP CONTAINER */
.app {
    max-width: 500px;
    width: 100%;
    background: var(--bg-card);
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}

/* HEADER */
header h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color: var(--success);

    text-shadow:
        0 0 5px var(--purple),
        0 0 10px var(--purple),
        0 0 20px var(--purple),
        0 0 40px rgb(128, 0, 255);

    position: relative;
    left: 20px;

    margin-bottom: 2rem;
    letter-spacing: 1px;

    animation: neonGlow 1.5s ease-in-out infinite alternate;
}

@keyframes neonGlow {
    from {
        text-shadow:
            0 0 5px var(--purple),
            0 0 10px var(--purple),
            0 0 20px var(--purple),
            0 0 40px rgb(128, 0, 255);
    }

    to {
        text-shadow:
            0 0 10px var(--purple),
            0 0 20px var(--purple),
            0 0 30px var(--purple),
            0 0 50px rgb(128, 0, 255);
    }
}


@media (min-width: 1000px) {
    .task-list {
        grid-template-columns: repeat(5, 1fr);
    }
}

/* RESPONSIVIDADE CELULAR */
@media (max-width: 768px) {

    body {
        display: block;
        padding: 0;
        overflow-x: hidden;
    }

    /* .nivel-text {
        margin-right: 70%;
    } */

    .menu-toggle {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 15px;
        right: 15px;
        z-index: 1100;
        background: #7f5af0;
        color: #fff;
        border: none;
        font-size: 22px;
        padding: 5px 10px;
        border-radius: 10px;
        box-shadow: 0 0 10px #7f5af0;
        cursor: pointer;
    }

    .user-sidebar {
        position: fixed;
        top: 0;
        left: -105%;
        width: 101vw;
        height: 100vh;
        background: linear-gradient(to bottom,
                #080808 5%,
                #2b2b2b 20%,
                #4a4a4a 45%,
                #4a4a4a 45%,
                #4a4a4a 45%,
                #3a3a3a 70%,
                #0d0d0d 100%);
        z-index: 1000;
        transition: left 0.3s ease;
        border-radius: 0;
        display: flex;
    }

    .logout-btn {
        position: relative;
        bottom: 45px;
    }

    .user-sidebar.active {
        left: 0;
        overflow-x: hidden;
    }

    .container-conteudo {
        margin-left: 0;
        padding: 1rem;
    }

    body.menu-open .container-conteudo {
        display: none;
    }

    .main-container,
    .app {
        max-width: 100%;
        margin: 1rem;
        padding: 1rem;
    }

    header h1 {
        font-size: 1.4rem;
    }

    .task-list {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        padding: 10px;
        gap: 0.6rem;
    }

    .week {
        flex-direction: column;
    }

    .notification {
        position: fixed;
        bottom: 20px;
        right: 20px;

        transform: translateX(120%);
        opacity: 0;

        background: linear-gradient(45deg, #7f5af0, #a855f7);
        padding: 1rem 1.5rem;
        border-radius: 8px;
        color: snow;
        font-family: 'Orbitron', sans-serif;
        font-weight: bold;
        text-shadow: 0 0 5px #a855f7, 0 0 10px #7f5af0;
        box-shadow: 0 0 10px #7f5af0, 0 0 20px #a855f7;
        animation: slideIn 0.6s cubic-bezier(0.22, 1, 0.36, 1) forwards, slideOut 5s ease-in forwards;
        z-index: 999;
    }
}


/* PARA TELEFONE PEQUENO */
@media (max-width: 480px) {
    header h1 {
        font-size: 1.2rem;
    }

    .start-button {
        padding: 0.6rem 1.5rem;
        font-size: 0.9rem;
    }

    .task-list {
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    }

    .card h2 {
        font-size: 0.8rem;
    }

    .card p {
        font-size: 0.75rem;
    }

    .complete {
        padding: 0.3rem 0.6rem;
        font-size: 0.75rem;
    }

    .notification {
        font-size: 0.8rem;
        padding: 0.6rem 0.8rem;
    }

    .top15-item {
        flex-direction: column;
        /* organiza em coluna */
        align-items: flex-start;
        padding: 10px;
    }

    .top15-item .avatar {
        margin-bottom: 5px;
    }

    .top15-item .name,
    .top15-item .xp,
    .top15-item .rank {
        margin-right: 0;
        margin-top: 2px;
    }

    .top15-item .name {
        font-size: 16px;
    }

    .top15-item .xp {
        font-size: 14px;
    }

    .top15-item .rank {
        font-size: 18px;
    }
}