@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500;700&family=Inter&display=swap');
@import url('css/usersidebar.css');
@import url('css/login.css');
@import url('css/notification.css');
@import url('css/ranks.css');
@import url('css/taskform.css');
@import url('css/taskitems.css');
@import url('css/usersidebar.css');
@import url('css/weeklyplanner.css');
@import url('css/top15.css');
@import url('css/mission.css');
@import url('css/Upgrades.css');
@import url('css/UserProfileCard.css');

::-webkit-scrollbar {
    /* background: linear-gradient(to top, black, rgb(85, 85, 85), black); */
    background-color: #050505;
    width: 15px;
}

::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(280deg, #7f5af0, #11162a);
    border-radius: 10px;
}

.menu-toggle {
    display: none;
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* VARIÁVEIS DE COR */
:root {
    --bg-main: #0b0f1a;
    --bg-card: #11162a;
    --purple: #7f5af0;
    --text: #eaeaea;
    --success: #22c55e;
    --red: #ff0000;
}

/* BODY */
body {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
    background: linear-gradient(to top,
            #3b1d5a 0%,
            #1c102c 25%,
            #0d0d0d 55%,
            #050505 100%);
    box-shadow: inset 0 0 300px rgba(120, 60, 255, 0.15);
    color: var(--text);
    overflow-x: hidden;
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
}

.container {
    min-width: 100vw;
}

.container-conteudo {
    margin-left: 250px;
    padding: 20px;
    overflow-x: hidden;
}

/* APP CONTAINER */
.app {
    max-width: 500px;
    width: 100%;
    background: var(--bg-card);
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}

/* HEADER */
header h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color: snow;

    text-shadow:
        0 0 6px var(--purple),
        0 0 12px var(--purple),
        0 0 24px rgba(128, 0, 255, 0.8);

    position: relative;
    left: 20px;

    margin-bottom: 2rem;
    letter-spacing: 1.2px;

    animation: neonGlow 1.6s ease-in-out infinite alternate;
}

header h1::after {
    content: attr(data-text);
    position: absolute;
    left: 0;
    top: 0;

    color: var(--purple);
    filter: blur(8px);
    opacity: 0.5;

    pointer-events: none;
    white-space: nowrap;
}


@keyframes neonGlow {
    from {
        text-shadow:
            0 0 4px var(--purple),
            0 0 10px var(--purple),
            0 0 18px rgba(128, 0, 255, 0.6);
    }

    to {
        text-shadow:
            0 0 8px var(--purple),
            0 0 18px var(--purple),
            0 0 32px rgba(128, 0, 255, 0.9);
    }
}




@media (min-width: 1000px) {
    .task-list {
        grid-template-columns: repeat(5, 1fr);
    }

    .sidebar-actions button {
        padding: 10px;
        font-size: 13px;
        gap: 10px;
    }

    .sidebar-actions .icon {
        width: 22px;
        height: 22px;
    }
}

/* RESPONSIVIDADE CELULAR */
@media (max-width: 900px) {

    body {
        display: block;
        padding: 0;
        overflow-x: hidden;
    }

    .container {
        padding: 20px;
    }

    .menu-toggle {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 30px;
        right: 15px;
        z-index: 1100;
        background: #7f5af0;
        color: #fff;
        border: none;
        font-size: 22px;
        padding: 5px 10px;
        border-radius: 10px;
        box-shadow: 0 0 10px #7f5af0;
        cursor: pointer;
    }

    .btn-novidades {
        top: 20px;
    }

    .user-sidebar {
        position: fixed;
        top: 0;
        left: -105%;
        width: 101vw;
        height: 100vh;
        background: linear-gradient(to bottom,
                #080808 5%,
                #2b2b2b 20%,
                #4a4a4a 45%,
                #4a4a4a 45%,
                #4a4a4a 45%,
                #3a3a3a 70%,
                #0d0d0d 100%);
        z-index: 1000;
        transition: left 0.3s ease;
        border-radius: 0;
        display: flex;
        animation: none;
    }

    .logout-btn {
        position: relative;
        bottom: 45px;
    }

    .user-sidebar.active {
        left: 0;
        overflow-x: hidden;
    }

    .sidebar-actions button {
        padding: 8px;
        font-size: 12px;
        gap: 8px;
        border-radius: 8px;
    }

    .sidebar-actions .icon {
        width: 20px;
        height: 20px;
    }

    .container-conteudo {
        margin-left: 0;
        padding: 1rem;
    }

    body.menu-open .container-conteudo {
        display: none;
    }

    .main-container,
    .app {
        max-width: 100%;
        margin: 1rem;
        padding: 1rem;
    }

    header h1 {
        font-size: 1.4rem;
        text-shadow: none;
        animation: none;
    }

    .task-list {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        padding: 10px;
        gap: 0.6rem;
    }

    .week {
        flex-direction: column;
    }

    .missoes-container {
        display: flex;
        flex-direction: column;
        padding: 2rem;
        gap: 20px;
    }

    .avatar {
        animation: none;
        border: 2px solid #7f5af0;
    }

    .avatarusersidebar {
        animation: none;
        border: 2px solid #7f5af0;
    }

    .notification {
        position: fixed;
        right: 8px;
    }
}


/* PARA TELEFONE PEQUENO */
@media (max-width: 480px) {
    header h1 {
        font-size: 1.2rem;
        text-shadow: none;
        animation: none;
    }

    .start-button {
        padding: 0.6rem 1.5rem;
        font-size: 0.9rem;
    }

    .task-list {
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    }

    .card h2 {
        font-size: 0.8rem;
    }

    .card p {
        font-size: 0.75rem;
    }

    .complete {
        padding: 0.3rem 0.6rem;
        font-size: 0.75rem;
    }

    .notification {
        font-size: 0.8rem;
        padding: 0.6rem 0.8rem;
    }

    .top15-item {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    .top15-item .avatar {
        margin-bottom: 5px;
    }

    .top15-item .name,
    .top15-item .xp,
    .top15-item .rank {
        margin-right: 0;
        margin-top: 2px;
    }

    .top15-item .name {
        font-size: 16px;
    }

    .top15-item .xp {
        font-size: 14px;
    }

    .top15-item .rank {
        font-size: 18px;
    }

    .sidebar-actions button {
        padding: 12px;
        font-size: 15px;
        gap: 6px;
    }

    .sidebar-actions .icon {
        width: 18px;
        height: 18px;
    }
}